/data/*

venv/*
results/*

/sum\ up/

*/__pycache__/*

*/generated_data/*

*/models/*
*/model/*

/.python-version

/to-do-list

/legacy/6-OGAN/models/*

*/test.py

*/test2.py

*.csv

*.jpg

*.png

*.pkl

/insights

*.txt
